<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vire um de Nossos Associados!</title>
</head>
<body class="login">

    <form class="form1" action="#">
        <div class="card">
            <div class="card-up">
                <br><br><br>
                <img src="assets/bancodonoroeste.png" alt="teste">
                <h2 class="nomelogin">Login</h2>
            </div> 
        
            <div class="card-login">
                <label>Nome</label>
                <br>
                <input type="text" name="Nome" placeholder="Digite seu Nome" required autocomplete="off">
            </div>

            <div class="card-login">
                <label>Email</label>
                <br>
                <input type="email" name="Email" placeholder="Digite seu Email" required autocomplete="off">
            </div>    
            
            <div class="card-login">
                <label>Senha</label>
                <br>
                <input type="password" name="Senha" placeholder="Digite sua Senha" required autocomplete="off">
            </div> 
            
            <div class="botao">
                <br>
                <button type="submit" class="botao1" (click)="irParaPagina2()">Entrar</button>
                <br><br><br>
            </div>
            
        </div>
    </form>
</body>
</html>