.img {
    width: 110px;
}

.pago {
    text-align: center;
    font-family: sans-serif;
    box-shadow: 5px 5px 5px #ccc;
    padding: 10px;
    margin-top: 70px;
    background-color: #f1f1f1;
    border-radius: 30px;
    padding-left: 50px;
    font-size: 60px;
    width: 300px;
}

.historico {
    text-align: center;
    font-family: sans-serif;
    box-shadow: 5px 5px 5px #ccc;
    padding: 10px;
    margin-top: 70px;
    background-color: #f1f1f1;
    border-radius: 30px;
    font-size: 40px;
    width: 300px;
}

.valor {
    width: 113px;
}

body {
    align-items: center;
}